*.lo
Makefile
Makefile.in
*~
*.o
.*.swp
configure
config.guess
config.log
config.status
config.sub
INSTALL
*.cache
.deps
stamp-h1
libtool
ltmain.sh
missing
ixlib_config.hpp*
ixlib-config
ixlib.lsm
install-sh
src/lex.*.cpp
depcomp
*.loT
aclocal.m4
lex.yy.c
.libs
*.la
test/javascript
